@tailwind base;
@font-face {
  font-family: 'Nanum Gothic Coding';
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
}

@tailwind components;
.base {
  @apply bg-white dark:bg-zinc-700 dark:text-white font-nanum;
}

.header_container {
  @apply py-[1.5vw] top-0 left-0 h-auto z-50 absolute w-full bg-violet-400 dark:bg-zinc-800;
}
.header_anim {
  @apply translate-y-0 opacity-100 will-change-transform transition-all duration-300 ease-in-out;
}
.header_text {
  @apply mr-10 text-lg px-2 text-black dark:text-white hover:text-gray-500 hover:dark:text-gray-400 transition duration-200;
}

.main_section {
  @apply h-screen w-full flex items-center relative;
}
.container_small {
  @apply px-[10vw];
}
.section {
  @apply py-[10vw];
}

.project_section {
  @apply mb-[70px] relative flex items-center justify-center m-3 overflow-hidden rounded-2xl cursor-pointer w-72 h-72;
}
.project_image {
  @apply w-full h-full object-cover transition-all ease-in-out duration-500 scale-100;
}
.project_section:hover img {
  @apply scale-125;
}

.footer_icon {
  @apply text-2xl mx-3 cursor-pointer hover:text-gray-500 hover:dark:text-white transition-colors;
}

.input {
  @apply w-full text-lg font-normal text-gray-700 dark:text-white bg-white dark:bg-gray-900 bg-clip-padding border border-solid border-gray-300 dark:border-gray-800 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-sky-500 focus:dark:border-sky-300 focus:outline-none;
}
.btn {
  @apply inline-flex items-center px-5 py-2.5 text-lg font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800;
}
.btn_loading {
  @apply inline-flex items-center px-5 py-2.5 text-lg font-medium text-center focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800 bg-gray-400 rounded text-black pointer-events-none;
}

@tailwind utilities;
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}
.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#6366f1, #6366f1);
}
.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
.dark-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 100;
  transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.light .utterance-dark {
  display: none;
}

.dark .utterance-light {
  display: none;
}
